<div cointainer id="mar">
    <form [formGroup]="book" (submit)="submitData()" class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <img src="../../assets/img/login.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="container">
          <div class="form-group">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" class="form-control" formControlName="adminName" name="uname" required>
      </div>
      <div class="form-group">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" class="form-control" formControlName="passWord" required>
      </div>
          <button type="submit" >Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      </form>
      </div>
